<div class="container">
  <h1 class="title">Contact</h1>
  <div class="row centerform">
    <div class="col-md-3 formstyle">
      <form style="color: #5dc1b9;" action="https://formsubmit.co/perezmoratamarc@gmail.com" method="POST">
          <label for="email">Your Email <i class="fa-solid fa-envelope"></i> </label>
          <br />
          <input class="centeritems" type="email" name="email"  required>
          <br /><br />
          <label>Summary</label>
          <br />
          <input type="text" name="Summary" required>
          <br /><br />
          <label>Message</label>
          <br />
          <textarea name="text"  required></textarea>
          <br /><br />
          <div  style="text-align: center">
            <button style="color:white" class="btn btn-info" type="submit">Send</button>
          </div>
      </form>
    </div>
  </div>
</div>
<br /><br /><br /><br /><br />

