<div class="row margins">
  <div class="col-md-5 boxDecoration" style=" background-color: #5dc1b9;; color: white;">
  <h5>Roller hockey</h5>
  Two teams try to drive a hard ball with their sticks into the opposing teams' goalnet. Each team has five players on the rink at a time, four of whom are skaters and one who is the goalkeeper. The ball can only be put in motion by a stick, not the skate, otherwise a foul will be stated. The game has two 25-minute halves, with 15-minute halftime intermission, plus up to two 5-minute golden goal (a.k.a. "sudden death") periods to settle ties with the clock stopping when the ball becomes dead. If the tie persists, a penalty shootout will determine the winner.
  Players – including the goalie – use quad skates, whereas inline skates are used in inline hockey. Excessive contact between players is forbidden in rink hockey, unlike inline hockey.
  </div>
  <div class="col-md-5 boxDecoration" style="  background-color: #5dc1b9;; ; color: white;">
    Since 2017, the World Championships for the sport have been part of the World Roller Games organised by World Skate.
    Roller hockey was a demonstration rollersport in the 1992 Summer Olympics in Barcelona. There have been 44 editions of the Roller Hockey World Cup. Countries with the most world titles since the 1940s are: Spain (17 World titles), Portugal (16 World titles), Argentina (5 World titles) and Italy (4 World titles). Other countries, such as France, Brazil, Germany, Switzerland, Andorra and England are regular international competitors, but rarely overcome the traditional powers.
    Roller hockey is a very fast sport, which may create a problem for TV transmissions, and new rinks are built using blue or white pavement to make the ball more visible on TV.
  </div>
</div>

  <div class="row margins">
    <div class="col-md-10">
      <img src="assets/img2.jpeg" class="d-block w-100 img">
    </div>
  </div>
<div class="row margins ">
    <div class="col-md-12 boxDecoration" style=" background: #5dc1b9;; color: white;">
    <h5>History</h5>
  The first recorded hardball roller hockey game was played in 1878 at the Denmark Rink in London, England. It was first known as "roller polo" due to the introduction of polo in 1876,
  skaters took polo to the rinks. The sport was introduced into the United States in 1882 with the formation of the National Roller Polo League in Dayton, Ohio,
  with teams in seven cities. In 1884, the Massachusetts Roller Polo league was operating with 14 teams. Organized roller skating sports developed as the popularity of roller skates increased in the late 19th and early 20th centuries. Roller hockey teams were playing throughout Europe as early as 1901.
    Roller Hockey was played by the famous silent film stars, Stan Laurel and Charlie Chaplin, in the early 1900s. The first World Championships in roller hockey were held in 1936 in Stuttgart, Germany.
  During its existence, British Pathé produced a handful of film reels showing roller hockey outdoors as a part of life in different areas of the world. A number of reels were shot between 1940 and the end of the 1950s, mostly in London, UK.
  One reel shows British children on a street in London having a match. The contest was between the Vincent Harriers and Page Street Monarchs. Another reel taken in the UK shows men competing in an outdoor enclosure[9] and titled, "Roller Hockey at Victoria Park, London (Wasps v Wanderers)". Another is simply titled, "Roller Hockey (1950-1959)".
    </div>
</div>
<footer class="footer"><small>Developed and designed by Marc Morata Perez. ©2022. All rights reserved.</small></footer>
