<div class="container">
  <div class="row myrows">
    <div class="myboxs">
      <div class="card cardstyle">
      <img src="assets/patin1.PNG" class="card-img-top" alt="...">
        <div class="card-body mycard" style="width: 100%; height: 100%;">
          <h5 class="card-title">School Skates</h5>
          <a style="color:white" class="card-text btn btn-info" target="_blank" href="https://index-sports.es/categoria-producto/hockey-patines/botas-patines-ruedas/conjuntos-completos/escuela/ " >Website</a>
        </div>
      </div>
    </div>
    <div class="myboxs">
      <div class="card cardstyle">
        <img src="assets/patin2.PNG" class="card-img-top" alt="...">
          <div class="card-body mycard">
            <h5 class="card-title">Amateur Skate</h5>
            <a style="color:white" class="card-text btn btn-info" target="_blank" href="https://index-sports.es/categoria-producto/hockey-patines/botas-patines-ruedas/conjuntos-completos/amateur/" >Website</a>
          </div>
        </div>
    </div>
    <div class="myboxs">
      <div class="card cardstyle">
        <img src="assets/patin3.PNG" class="card-img-top" alt="...">
          <div class="card-body mycard">
            <h5 class="card-title">Profesional Skate </h5>
            <a style="color:white" class="card-text btn btn-info" target="_blank" href="https://index-sports.es/categoria-producto/hockey-patines/botas-patines-ruedas/conjuntos-completos/profesional/" >Website</a>
          </div>
        </div>
    </div>
    <div class="myboxs">
      <div class="card cardstyle">
        <img src="assets/stick1.PNG" class="card-img-top" alt="...">
          <div class="card-body mycard">
            <h5 class="card-title">Player Stick</h5>
            <a style="color:white" class="card-text btn btn-info" target="_blank" href="https://index-sports.es/categoria-producto/hockey-patines/sticks/sticks-madera-jugador/" >Website</a>
          </div>
        </div>
    </div>
    <div class="myboxs">
      <div class="card cardstyle">
        <img src="assets/stick2.PNG" class="card-img-top" alt="...">
          <div class="card-body mycard">
            <h5 class="card-title">Goalkeeper Stick</h5>
            <a style="color:white" class="card-text btn btn-info" target="_blank" href="https://index-sports.es/categoria-producto/hockey-patines/sticks/sticks-portero/" >Website</a>
          </div>
        </div>
    </div>
    <div class="myboxs">
      <div class="card cardstyle">
        <img src="assets/com.PNG" class="card-img-top" alt="...">
          <div class="card-body mycard">
            <h5 class="card-title">Stick Complements</h5>
            <a style="color:white" class="card-text btn btn-info" target="_blank" href="https://index-sports.es/categoria-producto/hockey-patines/sticks/complementos-sticks/" >Website</a>
          </div>
        </div>
    </div>
    <div class="myboxs">
      <div class="card cardstyle">
        <img src="assets/mochila1.PNG" class="card-img-top" alt="...">
          <div class="card-body mycard">
            <h5 class="card-title">Player Bag</h5>
            <a style="color:white" class="card-text btn btn-info" target="_blank" href="https://index-sports.es/categoria-producto/hockey-patines/bolsas/bolsas-jugador/" >Website</a>
          </div>
        </div>
    </div>
    <div class="myboxs">
      <div class="card cardstyle">
        <img src="assets/mochila2.PNG" class="card-img-top" alt="...">
          <div class="card-body mycard">
            <h5 class="card-title">Goalkeeper Bag</h5>
            <a style="color:white" class="card-text btn btn-info" target="_blank" href="https://index-sports.es/categoria-producto/hockey-patines/bolsas/bolsas-portero/" >Website</a>
          </div>
        </div>
    </div>
    <div class="myboxs">
      <div class="card cardstyle">
        <img src="assets/funda.PNG" class="card-img-top" alt="...">
          <div class="card-body mycard">
            <h5 class="card-title">Sticks Cover</h5>
            <a style="color:white" class="card-text btn btn-info" target="_blank" href="https://index-sports.es/categoria-producto/hockey-patines/bolsas/bolsas-portasticks/" >Website</a>
          </div>
        </div>
    </div>
    <div class="myboxs">
      <div class="card cardstyle">
        <img src="assets/pelota.PNG" class="card-img-top" alt="...">
          <div class="card-body mycard">
            <h5 class="card-title">Reno Ball</h5>
            <a style="color:white" class="card-text btn btn-info" target="_blank" href="https://index-sports.es/producto/reno-invierno/" >Website</a>
          </div>
        </div>
    </div>
    <div class="myboxs">
      <div class="card cardstyle">
        <img src="assets/medias.PNG" class="card-img-top" alt="...">
          <div class="card-body mycard">
            <h5 class="card-title">Hockey Socks</h5>
            <a style="color:white" class="card-text btn btn-info" target="_blank" href="https://index-sports.es/producto/reno-medias-fluor/">Website</a>
          </div>
        </div>
    </div>
    <div class="myboxs">
      <div class="card cardstyle">
        <img src="assets/cordones.PNG" class="card-img-top" alt="...">
          <div class="card-body mycard">
            <h5 class="card-title">Skate Laces</h5>
            <a style="color:white" class="card-text btn btn-info" target="_blank" href="https://index-sports.es/producto/cordones-3m/" >Website</a>
          </div>
        </div>
    </div>
  </div>
</div>
<br /><br />
