.mynavbar{
  padding: 5px;
  position: fixed;
  width: 100%;
  z-index: 5;
  background: linear-gradient(135deg,#5dc1b9,#5dc1b9);
}
.footer{
  padding: 15px;
  background: #5dc1b9;;
  color: white;
  width: 100%;
}
