<nav class="navbar navbar-expand-lg navbar-dark bg-primary mynavbar">
  <div class="container-fluid">
    <a class="navbar-brand"> <img style="max-width: 30px; cursor: pointer;" class="navbar-brand" rel="shortcut icon" [routerLink]="['/']" src="assets/icon.png" alt="hockey"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="['/']">Shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="['/about']">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="['/contact']">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br /><br /><br /><br />
<router-outlet></router-outlet>
<footer class="footer"><small>Developed and designed by Marc Morata Perez. ©2022. All rights reserved.</small></footer>

